#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* PRODUCT LIST */

#cart {
  margin-right: 1rem;
}

/* ProductGrid.css */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
  max-width: 150px;
  margin: 0 auto;
}

.product-title {
  font-size: 1.2em;
  margin: 0.5em 0;
}

.product-description,
.product-price,
.product-discount,
.product-stock-status,
.product-time-left {
  margin: 0.25em 0;
}

/* PRODUCT LIST */


/* LOGIN  */
.signup-link {
  text-decoration: none; /* Remove qualquer sublinhado padrão */
  color: inherit; /* Mantém a cor do link igual à cor do texto ao redor */
}

.signup-link:hover {
  text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
}

/* LOGIN  */